---
layout: page
title: Full Archive of Corporate Accelerators
shorttitle: Archive
fullwidth: true
notopnav: true
---
{% assign activePrograms = 0 %}
{% for accelerator in site.data.Accelerators %}
  {% if accelerator['Status'] == "Active" or accelerator['Status'] == "Unclear" %}
    {% capture activePrograms %}{{ activePrograms | plus:1 }}{% endcapture %}
  {% endif %}
{% endfor %}
<p>Below you'll find a full archive of all {{ site.data.Accelerators.size }} Corporate Accelerators that we've ever come across. There is also a list that only shows the {{ activePrograms }} <a href="index.html">active programs</a> available. We aim to keep this data as <a href="/update.html">up-to-date</a> as possible. Please <a href="/update.html">help us</a> if you come across new programs!</p>

<table id="ca_database" role="grid" class="display">
  <thead>
    <tr>
      <th>Company</th>
      <th>Accelerator</th>
      <th class="tab-hide-if-no-space">Funding</th>
      <th class="tab-hide-if-no-space">Equity</th>
      <th class="tab-hide-if-no-space">Website</th>
      <th class="tab-hide-if-no-space">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for accelerator in site.data.Accelerators %}
        <tr>
          <td class=""><a href="{{ accelerator.Company | acceleratorurl: accelerator.Name }}">{{ accelerator.Company | truncate: 25 }}</a></td>
          <td class="">{{ accelerator.Name | truncate: 25 }}</td>
          <td class="tab-hide-if-no-space">{{ accelerator.Funding | truncate: 15 }}</td>
          <td class="tab-hide-if-no-space">{{ accelerator.Equity | truncate: 15 }}</td>
          <td class="dt-center tab-hide-if-no-space"><a href="{{ accelerator.URL }}">Website</td>
          <td class="dt-center tab-hide-if-no-space"><a href="{{ accelerator.Company | acceleratorurl: accelerator.Name }}">Details</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<p>For the data junkies among you, you'll find the full list as <a href="https://github.com/florianheinemann/www-corporate-accelerators-net/blob/master/_data/Accelerators.json">JSON</a> over at GitHub</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
<script src="/js/datatables.js"></script>
<link rel="stylesheet" href="/css/datatables.css">
<script>
$(document).ready( function () {
    $('#ca_database').DataTable({
      paging: false,
      order: [[ 0, 'asc' ]]
    });
} );
</script>